---
import Page from "../components/common/Page.astro";
import TimelineToggle from "../components/common/TimelineToggle.astro";
import { portfolio } from "../constants";
import PortfolioItem from "../components/portfolio/PortfolioItem.astro";
---

<Page
  title="Portfolio"
  description="Explore my latest projects and developments in web development, DevOps, and software engineering."
>
  <div class="flex flex-col">
    <h1 class="text-3xl font-bold">Portfolio</h1>
    <p class="mb-4">Side projects, open-source tools, and personal experiments I've shipped.</p>

    <TimelineToggle>
      {
        portfolio.map((item, index) => (
          <PortfolioItem
            name={item.name}
            shortDescription={item.shortDescription}
            description={item.description}
            href={item.href}
            image={item.image}
            tags={item.tags}
            index={index}
          />
        ))
      }
    </TimelineToggle>
  </div>
</Page>
