---
import Page from "../components/common/Page.astro";
import TimelineToggle from "../components/common/TimelineToggle.astro";
import { workExperience } from "../constants";
import WorkExperienceItem from "../components/workExperience/WorkExperienceItem.astro";
---

<Page
  title="Work Experience"
  description="My professional journey as a fullstack developer and DevOps engineer, featuring roles at various companies and projects."
>
  <div class="flex flex-col">
    <h1 class="text-3xl font-bold">Work experience</h1>
    <p class="mb-4">From co-founding a startup to consulting and technical leadership - the roles that shaped how I work.</p>

    <TimelineToggle>
      {
        workExperience.map((item, index) => (
          <WorkExperienceItem
            name={item.name}
            shortDescription={item.shortDescription}
            description={item.description}
            href={item.href}
            startDate={item.startDate}
            endDate={item.endDate}
            tags={item.tags}
            index={index}
          />
        ))
      }
    </TimelineToggle>
  </div>
</Page>
