---
import { SITE_TITLE } from '../../consts';
import { generateSchemaOrg } from '../../utils/seoSchema';
import defaultOgImage from '../../assets/julius.jpg';  // Import the default image
import type { SEOProps } from '../../types/common';

export interface Props extends SEOProps {}

const { 
    title, 
    description = "Julius Bendt - Fullstack developer, DevOps engineer and dark mode enthusiast",
    image, 
    type = 'website',
    publishedDate,
    modifiedDate,
    keywords = ["fullstack developer", "devops engineer", "software engineer", "web developer", "Julius Bendt"]
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const fullTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;

// Use the image URL if provided, otherwise use the default image
const imageUrl = image ? new URL(image, Astro.site) : new URL(defaultOgImage.src, Astro.site);

const schemaOrg = generateSchemaOrg({
    type,
    title: fullTitle,
    description,
    url: canonicalURL.toString(),
    image: imageUrl.toString(),
    publishedDate,
    modifiedDate
});
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="generator" content={Astro.generator} />

<meta name="geo.region" content="DK" />
<meta name="geo.placename" content="Aalborg" />
<meta name="author" content="Julius Bendt" />

<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
<link rel="preconnect" href="https://analytics.wip.dk" />
<link rel="preconnect" href="https://cdnjs.cloudflare.com" />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />
<meta name="author" content="Julius Bendt" />
<meta name="keywords" content={keywords.join(', ')} />
<meta name="robots" content="index, follow" />
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />
<meta property="og:image:alt" content={`Image for ${fullTitle}`} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<!-- <meta property="twitter:site" content="@juliusbendt" /> -->
<!-- <meta property="twitter:creator" content="@juliusbendt" /> -->
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageUrl} />

<!-- Article Specific Meta (only for blog posts) -->
{type === 'article' && publishedDate && (
    <meta property="article:published_time" content={publishedDate.toISOString()} />
)}
{type === 'article' && modifiedDate && (
    <meta property="article:modified_time" content={modifiedDate.toISOString()} />
)}

<!-- Structured Data -->
<script type="application/ld+json" set:html={JSON.stringify(schemaOrg)} />

<!-- Preload Fonts -->
<link
    rel="preload"
    href="/assets/font/Inter-Regular.ttf"
    as="font"
    type="font/ttf"
    crossorigin
/>