---
import SvgItem from './SvgItem.astro';
export interface Props {
    icon:string,
    fillColor:string,
    text:string,
    href:string,
    class: string,
    
}

const { icon, fillColor, text, href, class: className } = Astro.props as Props;

---

<a href={href} target="_blank" class="group" class:list={className}>
<div class="flex flex-row gap-1 group-hover:scale-110 transition duration-500 ease-in-out">
    <SvgItem icon={icon} fillColor={fillColor} svgClass="w-6 h-6" />
    <p  class="group-hover:text-primary  transition ">{text}</p>
</div>
</a>


